
.navbar-title {
  font-family: 'Cute Font', cursive;
  font-size: 40px;
}

.navbar-brand {
  font-family: 'Cute Font', cursive;
  font-size: 45px;
}

.navbar {
  background-image: linear-gradient(to bottom right, deeppink, purple);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.carousel-div {
  position: absolute;
  top: 50;
  width: 100%;
  height:100%;
  z-index: 0;
}

.about-centered{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Cute Font', cursive;
  font-size: 100px;
  color: white;
  text-shadow: 1px 1px #000000;
}

.about-paragraph {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  background-color: lightblue;
  text-align: center;
  color: white;
  text-shadow: 1px 1px #000000;
  border: dotted;
  border-width: 5px;
}

.footer-centered{
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Cute Font', cursive;
  font-size: 100px;
  color: white;
  text-shadow: 1px 1px #000000;
}

.footer-paragraph{
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  background-color: lightblue;
  text-align: center;
  color: white;
  text-shadow: 1px 1px #000000;
  border: dotted;
  border-width: 5px;
}

.fem-welcome {
  font-family: 'Cute Font', cursive;
  font-size: 60px;
  text-align: center;
  padding: 5%;
  
}

.color-names-table {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.list-table-navtabs {
  position: absolute;
  top: 40%;
  left: 67%;
  transform: translate(-50%, -10%)
}

.title-table {
  font-family: 'Cute Font', cursive;
  font-size: 60px;
  text-align: center;
  padding: 5%;
  position: absolute;
  top: 30%;
  background-color: lightblue;
  text-align: center;
  color: white;
  text-shadow: 1px 1px #000000;
  border: dotted;
  border-width: 5px;
}