.navbar-title {
  font-family: 'Cute Font', cursive;
  font-size: 40px;
}

.navbar-div {
  background: pink;
}

.carousel-div {
  position: absolute;
  top: 50;
  width: 100%;
  height:100%;
  z-index: 0;
}

