.navbar-title {
  font-family: 'Cute Font', cursive;
  font-size: 40px;
}

.navbar {
  background: pink;
}

.carousel-div {
  position: absolute;
  top: 50;
  width: 100%;
  height:100%;
  z-index: 0;
}

.about-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Cute Font', cursive;
  font-size: 100px;
}

.about-paragraph {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: lightblue;
}

.fem-welcome {
  font-family: 'Cute Font', cursive;
  font-size: 60px;
  text-align: center;
}